* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%100%;
  background-size: cover;
  background-color:  #ffe6cc;
}

header {
  background-color: rgb(26, 27, 36);
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 150%;
    font-size: 2.5rem;
    text-align: center;
    padding: 50px 0;
    color: rgb(245, 222, 179);
  }
}

.container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 40px 0;
    color: rgb(245, 222, 179);
   
  }
  h3 {
    color: rgb(245, 222, 179);
  }
}

article {
  background-color: #130f40;
  margin: 30px 0;
  padding: 10px 15px;
  border-radius: 0 20px;
  h3 {
    text-align: center;
    padding: 10px 0;
  }
  input,
  select {
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
  }
  input[type=button] {
    background-color: #fdcb6e;
    display: block;
    font-weight: bold;
    font-size: 90%;
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
  }

  input[type=button]:hover {
    background-color: #ffeaa7;
    cursor: pointer;
  }
  .error-display {
    color: rgb(255, 2, 2);
    font-weight: bold;
    padding: 5px 0;
  }
  .display-msg {
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding-left: 10px;
  }
}

.left {
  text-align: left;
  margin-top: 10px;
}


ol, ul , li {
  margin-top: 10px;
  list-style-type: none;
}

footer {
  background-color: rgb(26, 27, 36);
  padding: 30px;
  margin-top: 60px;
  p {
    color: rgb(245, 222, 179);
    text-align: center;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 768px) {

  .container {
    width: 80%;
  }

  #pax {
    float: left;
    width: 46%;
  }

  #flt {
    float: right;
    width: 46%; 
  }

  #pax-to-flt {
    clear: left;
    float: left;
    width: 46%;
    margin-bottom: 60px;
  }

  #flt-to-apt {
    float: right;
    width: 46%;
  }

  #all-flts {
    clear: left;
    width: 48%;
    margin: 50px auto;
  }

  #pax-to-flt::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 992px) {

  .container {
    width: 70%;
  }

  #pax,
  #flt,
  #pax-to-flt,
  #flt-to-apt, 
  #all-flts {
    max-width: 700px;
  }

  #pax-to-flt::after {
    content: "";
    clear: both;
    display: table;
  }
}
